@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        ViewBag.Title = "Number Guesser Game";
    }

    <h2>@ViewBag.Message</h2>

    @using (Html.BeginForm("MakeGuess", "Home", FormMethod.Post))
    {
        <label for="guess">Enter your guess: </label>
        <input type="text" name="guess" />
        <input type="submit" value="Submit" />
    }
</div>


